/* font added */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bar{
    display: none;
}
h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
    line-height: normal;
   
}
.span-it{
    color: #FF5400;
}

.container{
    width: 90%;
    margin: 3rem auto;
    border-radius: 1 rem;
   

}
/* 
nav bar style */
.navbar{
    display: 
    flex;
    justify-content: space-between;
    align-items: center;

}


.logo{
    display: flex;
    align-items: center;
    width: 40%;

}


.logo img{
    width: 3 rem;
    height: 3 rem;
    margin-right: 0.5 rem;

}

.nav-option{
    display: flex;
    justify-content: space-between;
    gap: 3rem;

}
 p{
    font-weight: normal;
    line-height: normal;
    text-align: center;
   
    color: #5A5A5D;

}


/* Banner */

.explore-your-travel{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),
    url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 31.8rem;
    padding: 7rem;

}
.explore-container h3{

    color: #FFF;
    font-size: 4 rem;
    font-weight: bold;
    text-align: center;

}
.explore-container p{
    color: #FFF;
    font-size: 1.2rem;
    line-height: 26px;
   padding: 1.5rem,0;
   margin: auto;

}



.travel-input{
    margin-top: 2rem;
    border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
padding: 1rem;
display: flex;
justify-content: space-around;
align-items: center;
backdrop-filter: 4px;




}

input,select{
    width:175px;
    height: 50px;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    color: rgba(19, 19, 24, 0.50)
    
}

.btn-primary{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:8px;
    padding:0.7rem 1.2rem;
    background-color: #FF5400;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    color: #FFF;
    font-weight: bold;

}


/* <!-- Popular tours section --> */
.popular-section{
    display: grid;
   grid-template-columns: 1fr 1fr;
   gap:3rem;
}

.popular-section img{
    width: 100%;
    height: 100%;
}
.popular-section-text{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: space-between;

}

.popular-section-text p,ul{
     color: rgba(19, 19, 24, 0.70);
}

.popular-section-text ul{
    padding-left: 30px;
}
.popular-section-text h3{
   text-align: left;
}
/* 
Your destination */
.your-destination img{
    width: 100%;
    height: 300px;
    border-radius: 16px;
}

.row-1,.row-2, .row-3{
  
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: 1rem 0;
    gap:1rem;

}
.row-2{
    grid-template-columns: 0.80fr 1.5fr 0.70fr;
}
.row-3{
    grid-template-columns: 0.75fr 1.25fr;
}
.country-card{
    position: relative;
    

}
.country{
    position: absolute;
    top:50%;
    left: 50%;
    color:#FFF;
    font-size: 28px;
   transform: translate(-50%,-50%);

 }
/* 

why us section */

.why-choose-us h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.why-choose-us p {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #666;
}

.grid-container {
        
        padding: 20px;
        border-radius: 8px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .feature-card img {
        max-width: 60px;
        margin-bottom: 10px;
    }
    
    .feature-card h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }
    
    .feature-card p {
        font-size: 1rem;
        color: #666;
    }

    .feature-card p,h3{
        text-align: left;

    }
    .feature-card{
        padding: 2rem;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .hotel{
        border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(243, 168, 84, 0.05);
    }

    .map{
        border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(88, 164, 230, 0.05);
    }
    .price{
        border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(182, 218, 50, 0.05);




    }

    /* footer */
    .footer{
        background: rgba(19, 19, 24, 0.05);
        width: 100%;
        height: 25rem;
        padding: 7rem;
        
    }
    .logo-footer,.social-icon{
       display: flex;
       justify-content: center;
       align-items: center;
      
    }
    .paragraph{
        text-align: center;
        margin-top: 20px;
    }
    .social-icon{
        gap: 30px;
        margin-top: 20px;

    }

    .custom-hr {
        border: none; 
        height: 1px; 
        background-color: #000; 
        margin: 20px 0; 
    }



    /* mobile responsive */


    @media screen and (max-width: 576px){
        .bar{
            display: block;
        }
        .nav-option{
            display: none;
        }

        .container{
            margin: 3rem auto;
        }
        p{
            font-size: 16px;
        }
       .travel-input, .btn-primary{
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 1rem;
       }

       .explore-container h3{
      
        font-size: 26px;

       }
       .explore-your-travel {
        width: 100%;
        padding: 10px 10px;
       }

       .popular-section,.row-1,.row-2,.row-3,.grid-container{
        grid-template-columns: 1fr;
       }

       h3{
        font-size: 26px;
       }
       .bar i{
        font-size: 26px;
       }
         .popular-section img{
          height: 100%;
         }

       
      
    }

      
    






